body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Now-Bold';
  margin-left: 20px;
  margin-top: 20px;
  background-color: #111213;
}

section {
  margin-bottom: 30px;
}

.title-section {
  color: #fff;
}

.show {
  display: block !important;
  -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
}

.hide {
  display: none !important;
  visibility: hidden;
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s;
   animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
/*--------------------------------------------------------------------------- */

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.yellow {
  background-image: linear-gradient(180deg, #FFC143 0%, #FFAB00 57%) !important;
}

.red {
  background-image: linear-gradient(180deg, #FF2626 0%, #980000 100%) !important;
}

.color-team-a {
  background-image: linear-gradient(137deg, #E50008 0%, #FDEE00 100%) !important;
}

.color-team-b {
  background-image: linear-gradient(147deg, #00FFFD 0%, #00A1FF 100%);
}

.card-red::after {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 12px;
  width: 10px;
  background-image: url('../assets/icons/card-red.svg');
  margin-left: 5px;
  position: absolute;
  bottom: 3px;
}

.card-yellow::after {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 12px;
  width: 10px;
  background-image: url('../assets/icons/card-yellow.svg');
  margin-left: 5px;
  position: absolute;
  bottom: 3px;
}

.picto-goal::after {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 14px;
  width: 11px;
  background-image: url('../assets/icons/icon-goal.svg');
  margin-left: 5px;
  margin-top: 2px;
  position: absolute;
}

.picto-change::after {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 16px;
  width: 100%;
  background-image: url('../assets/icons/icon-change.svg');
  margin-left: 5px;
  position: absolute;
}

a {
  text-decoration: none;
}
